*{
  margin: 0;
  padding: 0;
}
/* .page {
  height: 30px;
  width: 300px;
  font-style: italic;
  margin-top: 20px;
  text-align: center;
  padding: 70px 0;
  font-size: 2rem;
  font-weight: 800;
} */